<!DOCTYPE html>
<html lang="es">
<!--HEAD-->	
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="rugby trouville club uru uruguay union rugby uruguay rugbier punta club amigos">
	<meta name="description" content="sitio oficial del Rugby del Club Trouville. Haciendo Club desde 1951.">
	<title>Contacto</title>
<!--FUENTE-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,800&display=swap" rel="stylesheet"> 
<!-- CSS --> 
	<link rel="stylesheet" type="text/css" href="../css/estilo.css"> 
</head>
<body>
<!-- ENCABEZADO --> 
<header class="headercontacto">
	<img src="../assets/img/head1.png" width="100%"  alt="">
</header>	
<!-- NAV --> 
	<!-- LOGO -->
	<a class="navbar-img" href="../index.html">
		<img src="../assets/img/rugby.png" width="30" height="30" alt="">
	</a>
	<nav>
	<!-- ENLACES NAV -->
				<ul class="header__nav header__nav--background">
					<li class="nav__item nav__item--background"><a href="../index.html">Inicio </a></li>
					<li class="nav__item nav__item--background"><a href="../views/historia.html">Historia</a></li>
					<li class="nav__item nav__item--background"><a href="../views/mayores.html">Mayores</a></li>
					<li class="nav__item nav__item--background"><a href="../views/femenino.html">Femenino</a></li>
					<li class="nav__item nav__item--background"><a href="../views/camporojo.html">Campo Rojo</a></li>
					<li class="nav__item nav__item--background"><a href="#">Contacto</a></li>
				</ul>	
	</nav>
<!-- MAIN-->
<main>
		<div>
			<h1>¡CONTACTANOS!</h1>
		</div>
<!-- FORMULARIO DE CONTACTO -->
	<div class="formpadre">
				<form action="#">
						<input type="text" name="nombre" placeholder="Nombre"><br>
						<input type="text" name="apellido" placeholder="Apellido"><br>
						<input type="text" name="mail" placeholder="Mail"><br>
						<input type="text" name="celular" placeholder="Celular"><br>
					<div>
							<h4>COMENTARIOS:</h4>
					</div>
					<div>
						<textarea name="" id="" cols="25" rows="8"></textarea></textarea>
					</div>
						<input type="submit" value="ENVIAR">
						<input type="submit" value="CANCELAR">
				</form>
			<!-- CIERRE FORMULARIO DE CONTACTO -->
					<div>
						<h4>¡A la brevedad nos estaremos comunicando con usted!</h4>
					</div>
	</div>
</main>
<!--FOOTER -->
<footer>
<div class="foopadre">
	<div class="foohijo">
		<h4>CAMPO ROJO</h4>
		<h5>Ruta 101 km 28.50, Cno. Trouville</h5>
	</div>
	<div class="foohijo">
		<h4>REDES SOCIALES</h4>
		<a href="https://www.facebook.com/trouvillerugby/" target="_blank"><img src="../assets/img/facebook.png"alt="facebook" width="50" height="50"></a>
		<a href="https://twitter.com/trouvillerugby/" target="_blank"><img src="../assets/img/tw.png"alt="twitter" width="50" height="50"></a>
		<a href="https://www.instagram.com/trouvillerugby/" target="_blank"><img src="../assets/img/insta.png"alt="instagram" width="48" height="48"></a>
	</div>
	<div class="foohijo">
		<h4>SEDE SOCIAL</h4>
		<h5>Chucarro 1031 esq. Martí</h5>
	</div>
  </div>

</footer>
</body>
</html>